{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button"><img width="24" height="24px" src="/svg/header__back.svg"></button>
        <button class="button"><img width="24" height="24px" src="/img/header__avatar.png"></button>
    </header> --}}

    {{!-- <h1 class="title">Комьюніті</h1> --}}

    {{!-- <main class="post__list"> --}}
        {{!-- <nav class="nav">
            <button class="button button__tabs--1" disabled>База знань</button>
            <button class="button button__tabs--2">Інформація</button>
        </nav> --}}

        {{!-- <img src="img/header__img.png"> --}}
        {{!-- <h2 class="subtitle">Що таке база знань?</h2> --}}
        {{!-- <p class="description">База знань - база даних, що містить правила виведення та інформацію про людський досвід та знання в деякій предметній галузі. У системах, що самонавчаються, база знань також містить інформацію, що є результатом вирішення попередніх завдань.</p> --}}
        {{!-- <button class="button__main">Перейти до ком’юніті в телеграм</button> --}}
    {{!-- </main> --}}
</div>

 

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}